.boxContainer{
    background-color:#434343;
    margin-top:65px;
    width:100%;
    height:auto; 
    display:flex;
    justify-content:space-between;
    flex-direction:column;
    align-items:center;
    padding:0 0 24px 0;
    outline:1px dashed #E0E0E0;
    outline-offset:-5px;
}

.titleBox{
    position: relative;
    background-color:#E0E0E0;
    width:315px;
    text-align:center;
    padding:26px 10px;
    z-index: 6;

}

.skewBox{
  position: absolute;
  background-color: #E0E0E0;
  width: 60px;
  height: 120px;
  transform: skew(-30deg, 0);
  right: -25px;
  top: 0;
  z-index: -1;
  display: none;

}
  

.title{
    font-weight:bold;
    color: #131313;
}

.marquee {
    height: 40px;
    width: 100%;
    overflow: hidden;
    position: relative;
    margin-top: 24px;
  }
  
  .marqueeContainer {
    display: block;
    width: 200%;
    height: 30px;
    position: absolute;
    overflow: hidden;
    animation: marquee 24s linear infinite;
    
  }
  
  .marqueeText {
    float: left;
    width: 100%;
    font-weight: 600;
    font-style: italic;
    color: #fefefe;
  }
  
  @keyframes marquee {
    0% { left: 100%; }
    100% { left: -200%; }
  }

  .button{
    font-weight: 600;
    background-color:white;
    color:#0a0a0a;
    border-radius:0;
    width:128px;
    height:44px;
    margin-top: 18px;
  }

  

  @media (min-width:750px){
    .boxContainer{
      flex-direction: row;
      padding: 0;
      overflow: hidden;
    }
    
    .titleBox{
      width: 710px;
      height: 100%;
      padding: 26px 4px;
    }

    .skewBox{
      display: block;
    }

    .marquee{
      margin-top: 5px;
    }

    .button{
      margin: 0 14px 0 0;
      width: 220px;
    }
}
