.modalContainer{
    position: fixed;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    background-color: #1b1b1ba4;
    padding: 30px 15px;
    z-index: 9;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.productBox{
    border-radius: 4px;
    z-index: 10;
    width: 100%;
    height: 100%;
    padding: 16px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    overflow: auto;
}

.modalProductBox{
    width: 95%;
    height: 95%;
    border-radius: 18px;
    background-color: #ffffff;
}


.modalCloseBox{
    width: 100%;
    height: 18px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.modalCloseIcon:hover{
    color: #E94560;
}

.productImagesContainer{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: -10px;
}

.productImage{
    margin-top: 12px;
}

.productImageBtn{
    border: 1px solid rgb(175, 175, 175);
    background-color: #ffffff;
    border-radius: 8px;
    margin: 0 4px 0 4px;
    width: 76px;
    height: 76px;
    aspect-ratio: 1/1;
}

.productImageBtn:hover{
    background-color: #ffffff;
}

.productDetails{
    margin-top: 40px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.productName{
    font-weight: 800;
    color: #343434;
}

.productBrand{
    color: #464646;
    margin-top: 24px;
}

.productSeller{
    color: #464646;
    margin-top:5px;
}

.productRatingContainer{
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
    margin-top:5px;
}

.productRate{
    color: #464646;
    margin-right: 4px;
}

.productRateCount{
    color:rgb(152, 152, 152);
    margin-left:5px;
}

.productDiscountBox{
    width:50px;
    height:50px;
    color:#ececec;
    border-radius:50%;
    display:flex;
    align-items:center;
    justify-content:center;
    font-size:16px;
    font-weight: 600;
    position:absolute;
    top:27px;
    left: 48px;
}

.productAfterDiscount{
    font-weight:bold;
    margin-top:12px;
}

.productBeforeDiscount{
    text-decoration:line-through;
    text-decoration-color:#7f7f7f;
    color: #7f7f7f;
}

.productPrice{
    font-weight:bold;
    margin-top:12px;
}

.productStock{
    color: #464646;
    margin-top: 12px;
}

.productActiveImg{
    border-color: #E94560;
    background-color: #ffffff;
}

.quantityContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


.quantityOptions{
    width: 110px;
    height: 45px;
    display: flex;
    margin-top: 8px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 8px;
    border: 1px solid #E94560;
    background-color: #ed6d821a;
    border-radius: 8px;
}

.quantityIcons{
    color: #252525;
}

.quantityIcons:hover{
    color: #E94560;
}

.quantityText{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
}

.productButton{
    font-weight: 600;
    background-color: #E94560;
    color:#f5f5f5;
    margin-top:18px;
    padding: 8px 24px;
}

.productButton:hover{
    background-color: #bf465a;
}
