.footerMainContainer{
    width: 100%;
    height: auto;
    background-color: #0F3460;
    padding: 18px 0 50px 0;
    margin-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footerInnerContainer{
    max-width: 1200px;
    padding: 0 20px;
}

.mainText{
    color: #d2d2d2;
}

.downloadButtonsContainer{
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
}

.downloadButton{
    background-color: #0C2A4D;
    padding: 8px 14px;
    border-radius: 6px;
    width: auto;
}

.buttonTextContainer{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    margin-left: 10px;
}

.firstButtonText{
    font-size: 9px;
    font-weight: 800;
}

.secondButtonText{
    font-weight: 800;
    margin-top: -5px;
}

.infoContainer{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.LinksContainer{
    display: flex;
    flex-direction: column;
}

.infoTitle{
    font-weight: 600;
    color: #f5f5f5;
    margin: 28px 0 10px 0;
}

.infoSubtitle{
    color: #d2d2d2;
    margin-top: 8px;
    cursor: pointer;
}

.infoSubtitle:hover{
    color: #ffffff;
}

.iconsContainer{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: 15px 0 140px 0;
}

.icon{
    margin-right: 12px;
    cursor: pointer;
}


@media (min-width:480px){
    .downloadButtonsContainer{
        flex-direction: column;
        width: 85%;
        max-width: 200px;
    }
    .downloadButton{
        margin: 5px 5px;
    }
    .responsiveFlex{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .firstSection{
        width: 48%;
    }
    .secondSection{
        width: 48%;
        margin-top: 16px;
    }
    .sections{
        width: 48%;
        margin-top: 16px;
    }
    .infoContainer{
        flex-direction: row;
        justify-content: space-between;
    }

}

@media (min-width:740px){
    .downloadButtonsContainer{
        flex-direction: row;
        justify-content: flex-start;
        width: 100%;
        max-width: none;
    }
}

@media (min-width:1200px){
    .footerInnerContainer{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
    }
    .firstSection{
        width: 59%;
    }
    .secondSection{
        width: 38%;
    }
    .responsiveFlex{
        width: 50%;
    }
    .infoContainer{
        width: 50%;
        margin: 0;
    }
}