.boxContainer{
    width: 100%;
    background-color: #ffffff;
    margin-top: 20px;
    padding: 20px 16px;
}

.title{
    font-weight: 600;
    color: #424242;
}

.text{
    margin: 18px 0 8px 0;
    color: #656565;
}

.field{
    width: 100%;
}

.check{
    font-size: 14px;
    color: #707070;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 10px;
}

.paymentContainer{
    width: 100%;
    background-color: transparent;
}

.backBtn{
    border: 1px solid #E94560;
    width: 100%;
    color: #E94560;
    margin-top: 30px;
    font-weight: 600;
    padding: 8px;
}

.backBtn:hover{
    background-color: #E94560;
    color: #ffffff;
}

.nextBtn{
    background-color: #E94560;
    color: #ffffff;
    width: 100%;
    margin-top: 20px;
    font-weight: 600;
    margin-bottom: -10px;
    padding: 8px;
    border: 1px solid #E94560;
}

.nextBtn:hover{
    background-color: #E94560;
    color: #ffffff;
}

@media (min-width:700px){
  .detailsContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .column{
    width: 49%;
  }
  .paymentContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  .nextBtn{
    width: 100%;
  }
  .backBtn{
    width: 98%;
  }
}

@media (min-width:1200px){
    .mainPageContainer{
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
    }
    .mainAddressContainer{
        width: 72%;
    }
}