.swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    text-align: center;
    line-height: 20px;

    background-color:transparent;
    outline: 1px solid #E94560;
    outline-offset: 4px;

  }

  .swiper-pagination-bullet-active {
    background: #E94560;
  }