.descriptionTitle{
    font-weight: 800;
    font-size: 20px;
    margin-bottom: 14px;
    color: #393939;
}

.descriptionSubTitle{
    color: #3e3e3e;
}

.cmContainer{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 28px;
}

.profileContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.profileTextContainer{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 16px;
}

.boxContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.cmName{
    font-weight: 600;
    color: #393939;
}


.cmDate{
    margin-left: 12px;
    color: #838383;
}

.cmContext{
    margin-top: 12px;
    color: #575757;
}

.writeCmContainer{
    margin-top: 48px;
}

.writeCmTitle{
    font-weight: 600;
    margin-top: 28px;
}

.writeCmRating{
    color: #3e3e3e;
    margin:22px 0 16px 0 ;
}

.writeCmReview{
    color: #3e3e3e;
    margin:22px 0 16px 0 ;
}

.textField{
    width: 100%;
    background-color: #ffffff;
}

.cmBtn{
    background-color: #E94560;
    color: #ffffff;
    margin-top: 32px;
    font-weight: 600;
    padding: 8px 20px;
}

.cmBtn:hover{
    background-color: #c83e55;
}

.frqTitle{
    margin: 32px 0;
    font-weight: 800;
    font-size: 20px;
}

.frqContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.frqCard{
    width: 60%;
    height: 250px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 0 8px 8px 8px;
    box-shadow: 0 0 10px rgba(26, 26, 26, 0.202);
}

.frqImgContainer{
    position: relative;
    width: 95px;
    height: 120px;
}

.frqName{
    margin-top: 28px;
    text-align: center;
}

.frqBeforeDiscount{
    text-decoration:line-through;
    text-decoration-color:#7f7f7f;
    color: #7f7f7f;
}

.frqAfterDiscount{
    font-weight:bold;
}

.frqSumupContainer{
    border: 1px solid rgba(158, 158, 158, 0.42);
    border-radius: 12px;
    background-color: #e945600d;
    width: 80%;
    height: auto;
    padding: 24px 12px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.frqSumup{
    font-weight: 800;
}

.frqDiscount{
    color: #7f7f7f;
    margin-top: 4px;
}

.frqBtn{
    background-color: #E94560;
    color: #ffffff;
    font-weight: 600;
    padding: 8px 24px;
    margin-top: 12px;
}

.frqBtn:hover{
    background-color: #c83e55;
}




.brandContainer{
    width: 100%;
    margin-top: 110px;
}

.brandTitle{
    font-weight: 800;
    font-size: 20px;
    margin-bottom: 32px;
}

.brandCard{
    position: relative;
    background-color: #ffffff;
    width: 100%;
    height: auto;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 0 16px 16px 16px;
    box-shadow: 0 0 5px rgba(26, 26, 26, 0.103);
}

.brandImgContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}

.brandName{
    font-weight: 600;
    color: #393939;
    margin-bottom: 5px;
}

.brandBrand{
    color: #737373;
    font-weight: 600;
    margin: 5px 0;
}

.brandPriceContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.brandPriceBox{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.brandFinalPrice{
    font-weight:600;
}

.brandBeforeDiscount{
    text-decoration:line-through;
    text-decoration-color:#7f7f7f;
    color: #7f7f7f;
    margin-left: 8px;
}

.brandAddBtn{
    position: absolute;
    border: 1px solid #e9456022;
    padding: 2px;
    border-radius: 4px;
    bottom: 4%;
    right: 5%;
}

.brandAddBtn:hover{
    color: #ffffff;
    background-color: #E94560;
}

.brandRemoveBtn{
    border: 1px solid #e9456022;
    padding: 2px;
    border-radius: 4px;
    margin-bottom: 4px;

}

.brandRemoveBtn:hover{
    color: #ffffff;
    background-color: #E94560;
}

.brandMoreBox{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
    position: absolute;
    bottom: 12%;
    right: 5%;
}
